<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="MockChatRoomDAO" class="com.rafdi.chat.server.infra.dao.impl.MockChatRoomDAO"/>
		

	<bean id="userDao" class="com.rafdi.chat.server.infra.dao.impl.JDBCUserDAO">
		<constructor-arg index="0" value="root"/>
		<constructor-arg index="1" value="Clippet321"/>
	</bean>
	
	<bean id="MockUserDAO" class="com.rafdi.chat.server.infra.dao.impl.MockUserDAO"/>
	
	<bean id="chatRoomDAO" class="com.rafdi.chat.server.infra.dao.impl.JDBCChatRoomDAO">
		<constructor-arg index="0" value="root"/>
		<constructor-arg index="1" value="Clippet321"/>
	</bean>
		
</beans>